<section class="login-section flex-wrap">

    <div class="form-wrap">
        <h2>Please verify Token</h2>    
         <form class="login-form" action="/generate", method="POST">
            <div class="container-login">
                <label><b>Enter Token</b></label>
                <p>We have sent you an email with your unique <b>token</b>. Please use that token to verify.</p>
                <input type="text" placeholder="" name="token" required>
                <button type="submit" class="submit-button">Submit</button>
            </div>
        </form>       
    </div>
</section>